.container{
    display: flex;
    border: 1% solid lightsalmon;
    border-radius: 70px;
    background-color: lightsalmon;
    align-items: center;
    margin-right: 40%;
    gap: 10px;
    margin-left: 10%;
    margin-top: 2%;
    justify-content: center;

}
#form{
    border: 3px solid lightsalmon;
    border-radius: 70px;
    align-self: right;
    width: auto;
    padding:150px;
    background-color: aliceblue;
    align-content: center;
    border-right: 5px lightsalmon;
padding-right: 20%;
min-height:21.5vh ;
}
.input{
    border: 1px solid black;
    margin: 0 auto;
    padding: 9px;
    border-radius: 5px;

}
.image{
    border: none;
    max-width:110%;
    color: aqua;
    padding-left:1px;
    padding-top:9px ;
    border-radius: 70px;
    margin:none;
    float: left;
}
.overlay text{
    text-decoration-color: brown;
    text-decoration: dashed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: x-large;
    color: blue;
}